/**
 * Estilos: Layout
 */

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-main {
  flex: 1;
  padding: var(--spacing-xl) var(--spacing-lg);
}

.layout-container {
  max-width: var(--max-content-width);
  margin: 0 auto;
}

@media (max-width: 768px) {
  .layout-main {
    padding: var(--spacing-lg) var(--spacing-md);
  }
}
